.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.wrapper div {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  border: 2px solid black;

}

#box1 {
  background-color: rgb(255, 0, 0);
}

#box2 {
  background-color: rgb(32, 131, 19);
}

#box3 {
  background-color: rgba(148, 255, 60, 0.897);
}

#box4 {
  background-color: rgb(108, 235, 192);
}

#box5 {
  background-color: rgb(251, 255, 24);
}